<div style="text-align: center;background-color: black;color: white;padding: 0.5rem;margin-bottom: 1rem;">
    <h1>Shopping Shop</h1>
</div>
<div class="container">
    <div class="header">
        <p><span id="price">{{"256.25"|currency:"INR"}}</span></p>
        <p>
            <span><mat-icon svgIcon="check-circle" style="color: white; padding-top: 1rem;" ></mat-icon></span> &nbsp;&nbsp;<span>Paid Succesfully</span>
        </p>
    </div>
    <div class="body1">
        <div class="one1">
            <p style="color:#7B8199">Payment Id</p>
        </div>
        <div class="one2">
            <p>&nbsp;xfbfbdf4523453</p>
        </div>
    </div>
    <div class="body2">
        <div class="one1">
            <p style="color:#7B8199">Paid On</p>
        </div>
        <div class="one2">
            <p>15th May, 2020</p>
        </div>
    </div>
    <div class="body3">
        <div class="one1">
            <p style="color:#7B8199">Method</p>
        </div>
        <div class="one2">
            <p>XXXX-XXXX-XXXX-5008</p>
            <p style="color:#7B8199">Card</p>
        </div>
    </div>
    <div class="body4">
        <div class="one1">
            <p style="color:#7B8199"> Mobile Number</p>
        </div>
        <div class="one2">
            <p>+918870709119</p>
        </div>
    </div>
    <div class="body5" style="text-align: center;">
        <button routerLink="/">Continue Shopping</button>
        <br><br>
    </div>
</div>